.article{
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 6.5px rgba(0, 0, 0, 0.8);
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.8);
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}

.article img{
    width: 100%;
    height: 250px;
}
.author{
    margin-top: 3px;
    color: #F5CB5C;
}
.description{
    color: #ebebeb;
}
.date{
    text-align: end;
    margin-top: 3px;
    color: #CFDBD5;
}

.forReader{
    display: flex;
    justify-content: space-between;
}
.saveAndShare{
    display: flex;
    gap:14px;
    font-size: 21px;
    color: #ebebeb;
}
.saveAndShare i:hover{
    cursor: pointer;
}
.forReader p{
    font-size: 14px;
    cursor: pointer;
}