a{
    color: white;
    text-decoration: none;
}

.categoriesAndCountries{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 5px 40px;
    margin-top: 25px;
}

/* Categories */
.spreadCategories{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.category{
    border: none;
    width: max-content;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #ebebeb;
    letter-spacing: 0.9px;
    border-radius: 3px;
    box-shadow: 1.8px 2px 2px rgba(0, 0, 0, 0.8);
}
.category:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}

.restedCategories {
    display: none;
    width: 200px;
    height: 40px;
    padding: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    color: #ebebeb;
    letter-spacing: 0.9px;
    border-radius: 3px;
    box-shadow: 1.8px 2px 2px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}
  
.restedCategories:focus {
    outline: none;
}

.restedCategories option {
    background-color: #1f1f1f;
    color: #ebebeb;
    font-size: 14px;
}

/* Countries */
.countries {
    width: 200px;
    height: 40px;
    padding: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    color: #ebebeb;
    letter-spacing: 0.9px;
    border-radius: 3px;
    box-shadow: 1.8px 2px 2px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}
  
.countries:focus {
    outline: none;
}

.countries option {
    background-color: #1f1f1f;
    color: #ebebeb;
    font-size: 14px;
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #333;
}

::-webkit-scrollbar-thumb {
    background-color: #989898;
    border-radius: 5px;
    cursor: pointer;
}

/* Pagination */
.pagination{
    display: flex;
    justify-content: center;
    padding: 15px 0px;
}

/* Search */
.searchImg{
    height: 70vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Responsiveness */
@media screen and (max-width: 1118px) {
    .categoriesAndCountries{
        justify-content: flex-start;
    }
    .spreadCategories{
        display: none;
    }
    .restedCategories{
        display: block;
    }
}
@media screen and (max-width: 830px) {
    .categoriesAndCountries{
        justify-content: center;
    }
}