.newsPart{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 30px;
    gap: 30px;
}
a{
    color: white;
    text-decoration: none;
}

.categories{
    padding: 5px 0px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}