.newsPart{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    padding: 20px 40px;
    gap: 30px;
}

/* Responsiveness */
@media screen and (max-width: 1118px) {
    .newsPart{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 830px) {
    .newsPart{
        grid-template-columns: 0.85fr;
    }
}
@media screen and (max-width: 700px) {
    .newsPart{
        grid-template-columns: 1fr;
    }
}